@model IEnumerable<MyTinyCollege.Models.Department>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My TinyCollege</h1>
    <p class="lead">Our programs combine classroom theory with real world hands-on experience.</p>
    <p><a href="@Url.Action("About", "Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@* mwilliams: Ajax Faculty Search *@
@if (Request.IsAuthenticated && User.IsInRole("admin"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">Faculty Search</div>
        <div class="panel-body">
            @using (Ajax.BeginForm("FacultySearch", "Home",

                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET",
                    OnFailure = "searchFailed",
                    LoadingElementId = "ajax-loader",
                    UpdateTargetId = "searchresults",
                }))
            {
                <div class="col-md-4">
                    <div class="form-inline">
                        <input type="text" name="q" id="q"
                               class="form-control input-sm"
                               data-autocomplete-source="@Url.Action("QuickSearch","Home")" />
                        <input type="submit" value="Search" id="search" name="search"
                               class="btn btn-sm btn-default" />
                    </div>
                    <div style="padding-top:1em">
                        <img id="ajax-loader" style="display:none"
                             src="~/Content/images/ajax-loader.gif" />
                    </div>

                </div>
                <div id="searchresults" class="col-md-8"></div>
            }
        </div>
    </div>
}


@* end mwilliams: Ajax Faculty Search *@


<div class="row">
    <div class="col-md-4">
        <h2>Apply Now</h2>
        <p>
            The first step to your new career starts here!
            Book a tour, request information, or apply right now.
            There is no application fee!
        </p>
        <p><a class="btn btn-default" href="#">Apply Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Campus</h2>
        <p>
            Join us during one of our Preview Nights!  Learn more about My TinyCollege,
            meet with a member of our admissions department, tour the campus and even
            apply on the spot.
        </p>
        <p><a class="btn btn-default" href="#">View Campus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Programs</h2>
        <p>
            Whether your're a recent high school graduate, or looking to make a career change,
            My Tiny College has the career training to help you succeed!
        </p>
        <p><a class="btn btn-default" href="#">Our Programs &raquo;</a></p>
    </div>
</div>

<div class="row">
    <h2>Faculties</h2>
    @{
        var action = (User.IsInRole("admin") ? "Index" : "Listing");
    }

    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-3 center-block">
            <div class="thumbnail">
                <img src="~/DeptPics/@(item.DepartmentID).png" alt="@item.Name" />
                <div class="caption">
                    <a href="@Url.Action(action,"Course", new { SelectedDepartment = item.DepartmentID })"><h4>@item.Name</h4></a>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/App/CollegeScripts.js"></script>
}
